.modal {
    .accordion-content {
        padding-top: 0.5em
    }
}

.create-playlist-modal {
    .modal-card {
        height: 100%; // Always take the max-height
    
        &-foot {
            // Push buttons to edges
            justify-content: space-between; 
        }
    }
    
}

