$sidenav-width: 150px;

.sidenav {
    height: 100%;
    position: fixed;
    left: 0;
    display: flex;
    width: $sidenav-width;
    flex-direction: column;
    background-color: var(--sidenav-background-color);

    button {
        margin-left: 10px;
        margin-right: 10px;
    }
}
