
.spotify-item-checkbox-container {
    cursor: pointer;
    
    &.not-included {
        .spotify-item-container {
            box-shadow: inset 0 0 10px #666;
            background-color: #BBB;
        }        

        .spotify-item-image {
            opacity: 0.7;
        }
    }

    &.included {
        .spotify-item-container {
            box-shadow: 0 0 5px rgb(216, 216, 216);
        }        
    }
}

.songs-in-playlist-selection {
    list-style-type: none !important;
}

.deselect-all-button {
    float: right;
}