@media (max-width: 500px) {
	.navbar-wrapper {
		background: green;
		top: initial;
		bottom: 0;
		height: 50px;
		width: 100%;
	}

	.navbar {
		flex-direction: row;
		justify-content: center;
		margin: 0 10vw;
	}

	#root {
		padding-left: 0;
		padding-bottom: 50px;
	}

	.page.with-sidenav .page-content {
		margin-left: 0;
	}
}
