:root {
	--navbar-width: 200px;
}

.navbar-wrapper {
	display: inline-block;
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: var(--navbar-width);
	background-color: red;
}

.navbar {
	display: flex;
	flex-direction: column;
}

.page.with-sidenav .page-content {
	margin-left: var(--navbar-width);
	padding-bottom: 0;
}
