.spotify-item-list {
	height: 100%;
	list-style-type: none;
	background-color: var(--content-background-color);
	padding: 5px;
	padding-right: 0;
	border-radius: 6px;
}

.spotify-item-list li {
	display: flex;
	margin: 10px 0;
}

.spotify-item-list li:hover .spotify-item-container {
	background-color: #fff9f9;
	box-shadow: 14px 10px 11px -3px #adadad;
}

.list-position-indicator {
	width: 60px;
	margin-left: 25px;
	font-weight: lighter;
}
