html,
body,
#root {
	height: 100%;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

:root {
	font-family: sans-serif;

	/* Colours */
	--primary-color: #1c2541;
	--secondary-color: #6fffe9;
	--content-background-color: #fff;
	--sidenav-background-color: #fff;
	--app-background-color: #e1d9d1;
}

/* Accessibility */
.visually-hidden {
	display: absolute !important;
	left: -9999px;
}

/* Page styling */
* {
	margin: 0;
	padding: 0;
}

// html,
// body,
// #root {
// 	background-color: var(--app-background-color);
// }

button:focus-visible {
	outline: 3px solid black;
	outline-offset: 2px;
	opacity: 0.95;
}

button:hover {
	opacity: 0.95;
}

button:active {
	background-color: #5150e3;
}
