.accordion {
    display: inline-block; 
    width: 100%;

    &.expanded {
        height: 90%;
    }
    
    .message-body {
        max-height: 90%;
        overflow:auto;
        display: inline-block; 
        width: 100%;
    }

    .toggle-accordion-button {
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .message-header {
            width: 100%;
        }
    }

    .message-header {
        width: 100%;
        position: sticky;
        top: 0;
    }

    .accordion-icon:after {
        font-size: 13px;
        margin-left: 5px;
        float: right;
    }

    .accordion-content {
        transition: ease .5s;
    }

    // Toggle button styling
    .message-header:after {
        text-align: center;
        transition: all 0.35s;
        content: "❯";
    }
    &.collapsed {
        .message-header:after {
            transform: rotate(90deg);
        }
    }
}
