@media (max-width: 1000px) {
	.spotify-item-list {
		padding: 5px;
	}

	.spotify-item-container {
		height: 125px;
	}


}

@media (max-width: 700px) {
	.spotify-item-list {
		padding: 5px;
	}

	.spotify-item-container {
		height: 75px;
	}

	.sidenav {
		display: none;
	}
}



